{% extends 'base.html' %}
{% load static %}
{%  block content %}
    <div> class="container">
        {#-------- create carousel ---------#}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              {% for index,top_banner in top_banners %}
                  <div class="carousel-item {% if index == 0 %} active {% endif %} ">
                      <a href="{% url 'product:product_detail' top_banner.product_id %}">
                          <img class="d-block w-100 rounded-image"
                                  src="{{ top_banner.banner }}" alt="First slide">
                      </a>
                      <div class="carousel-caption d-none d-md-block">
                          <h5>شماره محصول :</h5>
                          <p>{{ top_banner.product_id }} </p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        {#-------- create carousel ---------#}
        {#-------- create top category ---------#}
        <br>
        <h3>دسته بندی های برتر </h3>
        <br>
        <div class="row text-center">
            {% for category in categories %}
            <div class="col-12 col-md-3">
                <a class="col-12 btn btn-primary m-2 pt-3 pb-3">
                    <i class="fas" ></i>
                    {{ category.category_name }}
                </a>
            </div>
            {% endfor %}
        </div>
        {#-------- create top category ---------#}
        {#-------- create product item ---------#}
        <br>
        <h3>برترین محصولات </h3>
        <br>
        <div class="row">
            {% for product in product_list %}
                <a class="col-6 col-md-3" href="{% url 'product:product_detail' product.product_id %}">
                    <div class="card col-12 row">
                        <img src=" {{ product.banner }} }"
                             class="card-img-top p-2 col-12 rounded-image-m" alt="card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">{{ product.product_description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        {#-------- create product item ---------#}
        </div>
{% endblock %}